.button {
     -fx-font-size: 20pt;
     -fx-background-color: #4782FF;
     -fx-background-radius: 30;
     -fx-text-fill: white;
}
.button:hover {
     -fx-background-color: #6194FF;
}

.white-background {
    -fx-background-color: white;
}

#home-pane {
    -fx-background-image: url("subtleBackground.jpg");
    -fx-background-repeat: none;
    -fx-background-position: center center;
}

.stopTextualLabel {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

.requestTextualPanel {
    -fx-background-color: #DEDEDE;
    -fx-background-radius: 10;
}