.button {
     -fx-font-size: 20pt;
     -fx-background-color: #4782FF;
     -fx-background-radius: 30;
     -fx-text-fill: white;
}
.button:hover {
     -fx-background-color: #6194FF;
}

.stopTextualLabel {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}