.main-button {
     -fx-font-size: 16pt;
     -fx-background-color: #4782FF;
     -fx-background-radius: 30;
     -fx-text-fill: white;
}
.main-button:hover {
     -fx-background-color: #6194FF;
}

.white-background, .white-background > .viewport {
    -fx-background-color: white;
}

#map, #map > .viewport {
    -fx-background-color: #DEDEDE;
}

#home-pane {
    -fx-background-image: url("subtleBackground.jpg");
    -fx-background-size: cover, auto;
    -fx-background-repeat: none;
    -fx-background-position: center center;
}

.uneditable-textfield {
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
    -fx-font-style: italic;
    -fx-text-fill: #434343;
}

.textual-view-stop-panel-label {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

.textual-view-stop-panel-hour {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: #434343;
}

.textual-view-stop-panel {
    -fx-background-color: #DEDEDE;
    -fx-background-radius: 10;
}

#street-name {
    -fx-font-size: 11pt;
    -fx-background-color: white;
    -fx-text-box-border: transparent;
}

.control-button {
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-padding: 2;
    -fx-opacity: 0.8;
}
.control-button:hover {
    -fx-background-color: #F2F2F2;
}
.control-button:disabled {
    -fx-opacity: 0.2;
}

.add-button {
    -fx-background-color: #57F038;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
}
